* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  position: relative; }
  body main {
    margin: 0 5%; }

a {
  text-decoration: none;
  color: #c4b08b; }
  a:visited {
    color: #c4b08b; }

h1 {
  color: #ffc947; }

h2 {
  color: #f0e3ca; }

h3, p {
  color: #ffffff; }

ul li {
  list-style-type: none; }

nav .breadcrumb .breadcrumb-hover:hover {
  color: #ffffff; }

nav .breadcrumb .breadcrumb-li {
  color: #cccccc; }

.index {
  font-weight: bolder; }

.about {
  font-weight: bolder; }

.audiovisual {
  font-weight: bolder; }

.fotografia {
  font-weight: bolder; }

.contacto {
  font-weight: bolder; }

.navbar-light {
  text-align: center; }
  .navbar-light ul .item-menu {
    margin: 0px auto;
    width: 12em; }
    .navbar-light ul .item-menu:hover ul {
      display: block; }
    .navbar-light ul .item-menu a:hover {
      color: #ffffff; }
  .navbar-light ul .width-boton-contacto {
    width: 7em; }
  .navbar-light ul ul {
    position: absolute;
    display: none; }
    .navbar-light ul ul li {
      display: block;
      text-align: left; }
  .navbar-light ul .hover-submenu:hover {
    background-color: gray; }
  .navbar-light img:hover {
    opacity: .7; }
  .navbar-light .navbar-toggler {
    color: #fdc33c;
    border-color: white; }
    .navbar-light .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.titulo--align {
  text-align: center; }
  .titulo--align .titulo__h1 {
    color: #ffc947;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em; }
  .titulo--align .titulo__profesion--style {
    color: #ffffff;
    font-style: italic; }

.biografia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .biografia .biografia__autofoto {
    width: 20%;
    border: 5px outset #f0e3ca; }
  .biografia .biografia__texto {
    width: 50%; }

.experienciaLaboral {
  margin-top: 30px; }
  .experienciaLaboral .accordion-button:focus {
    box-shadow: none; }
  .experienciaLaboral .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .experienciaLaboral .accordion-toggle {
    background-color: #a08f70;
    color: #ffffff; }

.audiovisual__descripcion--margin {
  margin-top: 50px; }

.audiovisual__video--size {
  width: 60%;
  margin-top: 50px; }

.galeria {
  margin-left: 50px; }
  .galeria .galeria__margin {
    margin-top: 30px; }
    .galeria .galeria__margin .galeria__margin__retratos--flex {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
    .galeria .galeria__margin .galeria__margin__paisajes--flex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
    .galeria .galeria__margin .galeria__margin__producto--flex {
      width: 55%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }

.fotos {
  height: 12em;
  padding: 0 5px;
  transition: all 1s; }
  .fotos:hover {
    opacity: .4;
    height: 12.5em; }

.textoConsulta {
  color: #ffffff;
  padding-left: 50px;
  padding-top: 50px; }

.flexContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .flexContacto form {
    color: #ffffff;
    padding-left: 50px;
    padding-top: 50px; }
    .flexContacto form div {
      margin: 20px 0px; }
      .flexContacto form div label {
        font-weight: bold; }
      .flexContacto form div .cliente__radio--margin {
        margin-right: .3em; }
      .flexContacto form div input {
        margin-left: 10px; }
      .flexContacto form div select {
        margin-left: 10px; }
      .flexContacto form div .textarea-size {
        margin-left: 10px;
        width: 25em;
        height: 10em; }
    .flexContacto form .display {
      display: inline; }
  .flexContacto .foto-contacto .foto-contacto__img--width {
    width: 800px; }

@keyframes boton_contacto {
  0% {
    background: #ff9737; }
  50% {
    background: #ffbe32; }
  100% {
    background: #ff9737; } }

.tituloContacto {
  width: 6em;
  padding: 5px 0;
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  animation-name: boton_contacto;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s; }

.botonContacto {
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  animation-name: boton_contacto;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s; }

footer {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(to bottom, #141414, #222222); }
  footer .iconos .iconos__link .iconos__link__icono--size {
    width: 30px;
    margin: 0px 15px; }
    footer .iconos .iconos__link .iconos__link__icono--size:hover {
      opacity: .7; }
  footer .sitio .sitio__desarrollo--style {
    font-size: small;
    margin: 10px 0px;
    color: #818181; }

@media screen and (max-width: 320px) {
  .biografia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .biografia .biografia__autofoto {
      width: 100%;
      border: 5px outset #f0e3ca; }
    .biografia .biografia__texto {
      width: 100%; }
  .textoConsulta {
    color: #ffffff;
    padding-left: 0px;
    padding-top: 10px; }
  .flexContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .flexContacto div {
      width: 100%; }
      .flexContacto div form {
        padding-left: 0px;
        padding-top: 0px; }
        .flexContacto div form div .textarea-size {
          width: 17em;
          height: 10em; }
    .flexContacto .foto-contacto .foto-contacto__img--width {
      width: 100%; }
  .galeria .galeria__margin .galeria__margin__paisajes--flex {
    width: 80%; }
  .flex_404 {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .flex_404 .container_image {
      width: 50em; }
      .flex_404 .container_image .image_404 {
        width: 100%; }
    .flex_404 .text_404 {
      padding: 0; } }

@media screen and (max-width: 768px) {
  nav ul {
    background-color: darkgray; }
    nav ul .item-menu {
      width: 12em; }
  nav .width-boton-contacto {
    width: 10em;
    margin: 0px 2em; }
  .audiovisual__video--size {
    width: 100%; }
  .flexContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .flexContacto form {
      color: #ffffff;
      padding-left: 0px;
      padding-top: 20px; }
    .flexContacto .foto-contacto .foto-contacto__img--width {
      width: 100%;
      margin-top: 2em; } }

@media screen and (min-width: 321px) and (max-width: 768px) {
  .biografia .biografia__autofoto {
    width: 40%;
    border: 5px outset #f0e3ca; } }

@media screen and (min-width: 769px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    header section a img:hover {
      opacity: .8; } }
