.body_404{
    background-color: rgb(209, 209, 209);
    .flex_404{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        padding-top: 2em;
        .container_image{
            width: 55%;
            padding: 0 5em;
            .image_404{
                width: 100%;
            }
        }
        .text_404{
            padding-left: 2em;
            .titulo_404{
                color: black;
            }
            .parrafo_404{
                color: rgb(78, 78, 78);
            }
            .boton_404{
                color: white;
            }
        }
    }
}



