  .titulo--align{
    text-align: center;
    .titulo__h1{
      color: #ffc947;
      font-size: 4em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1em;
    }
    .titulo__profesion--style{
        color: $typo-color;
        font-style: italic;
      } 
  }
  
  
  