  .index{
    font-weight: bolder;
  }
  .about{
    font-weight: bolder;
  }
  .audiovisual{
    font-weight: bolder;
  }
  .fotografia{
    font-weight: bolder;
  }
  .contacto{
    font-weight: bolder;
  } 
  .navbar-light{
    text-align: center;
    ul{      
      .item-menu{            
        margin: 0px auto;
        width: 12em;          
        &:hover{
            ul{              
              display: block;
              }
            }
        a{          
          &:hover{
            color: $typo-color;
            }                 
          }
        }
      .width-boton-contacto{
        width: 7em;        
        } 
    ul{
      position: absolute;
      display: none;
      li{
        display: block;                
        text-align: left;
      }
    }
    .hover-submenu{      
      &:hover{
        background-color: rgb(128, 128, 128);
        }
      }           
    }
    img{
      &:hover{
        opacity: .7;
      }
    }
    .navbar-toggler{
      color: rgb(253, 195, 60);
      border-color: rgb(255, 255, 255);
      .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }    
  }

  

